h1{
	color: red;
	size:30px;
}

p{
	color: grey;
}

#img1{
	width: 150px;
    height: 220px;
    margin: 0px;
}

#img0{
	width: 150px;
    height: 220px;
    margin: 0px;
}

#img2{
	width: 150px;
    height: 220px;
    margin: 0px;
}